@import "@picocss/pico";
@import "./code.css";

:root {
  --line-height: 1.5;
  --font-weight: 400;
  --font-size: 16px;
  --border-radius: 0.2rem;
  --border-width: 1px;
  --outline-width: 2px;
  --spacing: 0.8rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
  --form-element-spacing-vertical: 0.6rem;
  --form-element-spacing-horizontal: 1rem;
  --nav-element-spacing-vertical: 0.5rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;
  --form-label-font-weight: var(--font-weight);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);
}

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}


h1 {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 120%;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

h2, h3, h4, h5 {
  margin-bottom: 0;
}

button, a[role="button"] {
  padding: 8px 15px;
  font-size:0.8rem;
  font-weight:bold;
}

p {
  margin-bottom: 0.5rem;
}

small {
  margin:0;
}

.mt-1 {
  margin-top:1rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom:1rem;
}

.block {
  display:block;
}

*, .themed, .svelte-select-list, .list-item, .selectContainer {
  --border : 1px solid var(--muted-border-color) !important;
  --borderHoverColor : var(--muted-color);
  --input-font-size: 1.5rem !important;
  --input-color: var(--color);
  --green: #0bcca1;
  --red: #c21549;
  --orange: #ffb300;
  --height: 60px;
}

.value-container input:focus {
  border-radius:0 !important;
}

.themed .svelte-select, .themed .list {
  --background : var(--background-color) !important;
  --listBackground : var(--background-color) !important;
  --list-background : var(--background-color) !important;
  --padding:  var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  --inputPadding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  --internalPadding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  --internal-padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  --item-hover-color: var(--primary-inverse);
  --item-hover-bg: var(--primary-hover);
}


.flex-center {
  display:flex;
  vertical-align: middle;
  align-items: center;
  margin-bottom:0;
}

.text-end {
  text-align:end;
}

.mono {
  font-family:monospace;
}

code, pre {
  color:inherit;
}

code a {
  border-bottom: 1px dotted;
}

.d-flex {
  display:flex;
  
}

.badge-caption {
  font-size: 0.7rem;
  margin-top:1.5rem;
  text-transform: uppercase;
}
.claimed-badge {
  padding: 0.15rem 0.5rem;
  border: 1px solid var(--green);
  border-radius: 100px;
  color: var(--green);
  font-size: 0.7rem;
  display:inline-block;
}

.success {
  color: var(--green);
}

.network-badge {
  font-size: 0.8rem;
  padding: 0.2rem;
  font-weight: 300;
  letter-spacing:0px;
  display:inline-block;
  text-transform:lowercase;
  border: 1px solid currentColor;
  border-radius: 4px;
}

.warning {
  color: var(--orange);
}
